.hero-wrapper {
    max-width: 1024px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value-statement {
    margin: 10vh 5vw;
    padding: 3vh 3vw;
    border: 3px solid var(--teal);

    text-align: center;
}

.cta {
    max-width: 1024px;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: auto 10% 30%;
    grid-template-rows: auto;
}

.right-arrow {
    font-size: 70px;
}

.btn-info {
    padding: 10px 40px;
    font-size: 20px;

    background-color: var(--teal);
    border-color: var(--teal);
}